.c-modal {
    background-color: var(--clr-surface);
    border: 1px solid var(--clr-border);
    border-radius: var(--radius-8);
    color: var(--clr-text-strong);
    padding: var(--space-24);
    max-width: 90vw;
}

.c-modal::backdrop {
    background: hsla(0, 0%, 0%, 0.6);
}

.c-modal[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    justify-items: end;
    gap: var(--space-16);

    background-color: var(--color-secondary);
}

.c-modal img {
    max-width: 100%;
    max-height: 60vh;
    object-fit: contain;
}

.c-modal iframe {
    width: 560px;
    max-width: 100%;
    aspect-ratio: 16 / 9;

    border: none;
    border-radius: var(--radius-8);
}

.c-modal p {
    color: var(--text-white);
}
