.pagination {
    display: flex;
    gap: var(--space-12);
}

.pagination__link {
    color: var(--text-white);
    text-decoration: none;
    text-align: center;
    align-content: center;
    border: 1px solid var(--color-primary);
    width: 30px;
}

.pagination__link--ctrl {
    width: fit-content;
    padding-inline: var(--space-24);
}
